/* SIGNATURE */
.footer {
    width: 100%;
    background-color: #0b0d17;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 20px 0px;
    letter-spacing: 2px;
  }
  .footer p {
    font-size: 14px;
  }
  #footer-color {
    color: #df5a65;
  }
  .lime {
    color: lime;
  }
  .spanOne{
    color:rgb(52, 198, 255)
  }
  .spanTwo{
    color:rgb(255, 74, 74)
  }